.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  height: 100%;
  color: gray;
}

.carousel {
  position: unset !important;
}

.carousel-control-prev {
  top: 60% !important;
}

.carousel-control-next {
  top: 60% !important;
}

.bin-card {
    border-radius: 20% 20% 0 0 !important;
    height: 65vh !important;
    margin: 25px !important;
}

.bin-card-header {
    padding: 1.75rem 1.25rem !important;
}

.bin-card-body {
    padding: 0.75rem !important;
}

.progress {
    width: 100%;
    height: 18rem !important;
    background-color: darkgreen !important;
    transform: rotate(90deg) scaleX(-1) !important;
}

.bin-card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.25rem !important;
  color: azure;
  opacity: 0.7;
}

.log-table {
  margin: 20px;
}

.activity-list {
  margin-top: 30px;
}

.fc-button-group {
  margin-left: 0px;
}

.table {
  height: 100vh !important;
}

.table-header {
  background-color: darkgray;
}